<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BookBorrowMapper">
  <resultMap id="BaseResultMap" type="entity.BookBorrow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="borrowtime" jdbcType="DATE" property="borrowtime" />
    <result column="s_backtime" jdbcType="DATE" property="sBacktime" />
    <result column="ifback" jdbcType="BIT" property="ifback" />
    <result column="backtime" jdbcType="DATE" property="backtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, book_id, borrowtime, s_backtime, ifback, backtime
  </sql>
  <select id="selectByExample" parameterType="entity.BookBorrowExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book_borrow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_borrow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book_borrow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.BookBorrowExample">
    delete from book_borrow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.BookBorrow">
    insert into book_borrow (id, user_id, book_id, 
      borrowtime, s_backtime, ifback, 
      backtime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{bookId,jdbcType=INTEGER}, 
      #{borrowtime,jdbcType=DATE}, #{sBacktime,jdbcType=DATE}, #{ifback,jdbcType=BIT}, 
      #{backtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="entity.BookBorrow">
    insert into book_borrow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="borrowtime != null">
        borrowtime,
      </if>
      <if test="sBacktime != null">
        s_backtime,
      </if>
      <if test="ifback != null">
        ifback,
      </if>
      <if test="backtime != null">
        backtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="borrowtime != null">
        #{borrowtime,jdbcType=DATE},
      </if>
      <if test="sBacktime != null">
        #{sBacktime,jdbcType=DATE},
      </if>
      <if test="ifback != null">
        #{ifback,jdbcType=BIT},
      </if>
      <if test="backtime != null">
        #{backtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.BookBorrowExample" resultType="java.lang.Long">
    select count(*) from book_borrow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update book_borrow
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.borrowtime != null">
        borrowtime = #{record.borrowtime,jdbcType=DATE},
      </if>
      <if test="record.sBacktime != null">
        s_backtime = #{record.sBacktime,jdbcType=DATE},
      </if>
      <if test="record.ifback != null">
        ifback = #{record.ifback,jdbcType=BIT},
      </if>
      <if test="record.backtime != null">
        backtime = #{record.backtime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update book_borrow
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      book_id = #{record.bookId,jdbcType=INTEGER},
      borrowtime = #{record.borrowtime,jdbcType=DATE},
      s_backtime = #{record.sBacktime,jdbcType=DATE},
      ifback = #{record.ifback,jdbcType=BIT},
      backtime = #{record.backtime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.BookBorrow">
    update book_borrow
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="borrowtime != null">
        borrowtime = #{borrowtime,jdbcType=DATE},
      </if>
      <if test="sBacktime != null">
        s_backtime = #{sBacktime,jdbcType=DATE},
      </if>
      <if test="ifback != null">
        ifback = #{ifback,jdbcType=BIT},
      </if>
      <if test="backtime != null">
        backtime = #{backtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.BookBorrow">
    update book_borrow
    set user_id = #{userId,jdbcType=VARCHAR},
      book_id = #{bookId,jdbcType=INTEGER},
      borrowtime = #{borrowtime,jdbcType=DATE},
      s_backtime = #{sBacktime,jdbcType=DATE},
      ifback = #{ifback,jdbcType=BIT},
      backtime = #{backtime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>